

/* basic template */
html, body{
  width: 100%;
  height: auto;
  margin: 0;
  /* background: url("Dark1.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-color: #ffffff;
  font-family: "Helvetica Neue",Arial,sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0em;
  text-transform: none;
  line-height: 1.5;
  overflow-wrap: break-word;
}

*{
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  text-align: center;
}
 

 [class*="col-"] {
  width: 100%;
  float: left;
  padding: 10px;
 }

.redBox{
   /* border: 1px solid red; */

}
.square{
  margin-left: 500px;
  margin-right: 500px;
}

ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 10pt;
  display: inline-block;
  margin-bottom: 0;

}

a ,a:hover, a:visited{
  text-decoration: none;
  outline: none;
  border: none;
  color:inherit;
}

/* classes */
.title{
  color: #000;
  font-family: "Helvetica Neue",Arial,sans-serif;
  font-weight: 600;
  font-style: bold;
  letter-spacing: 0em;
  text-transform: none;
  line-height: 1.5;
  overflow-wrap: break-word;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 30px;
  transition: all 0.3s ease;
  color: #000;
  }
  
.icon-bar h2 {
  color: #000;
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "futura-pt";
  font-weight: 500;
  font-style: normal;
  text-align: center;
  letter-spacing: 1px;  
  }
  
  .icon-bar a:hover {
  background-color: white;
  color: black;
  }
  
  .button {
    background-color: black;
    color: white;
    border: 2px solid #fff;
    padding: 8px 8px 8px 8px;
    transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    margin-bottom: 1em;  
}

.button:hover{
    background-color: white;
    color: black;
}


.img-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;

}

 /* Tablet*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .col-6{
      width: 100%;
    }
    .img-center{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 20%;
      height: 20%;
    }
    .square{
      margin-left: 500px;
      margin-right: 500px;
    }
}

/* for desktop */
@media only screen and (min-width: 1024px) {
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html, body{
  width: 100%;
  height: auto;
  margin: 0;
  /* background: url("Dark3.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-color: #ffffff;
}

.img-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;

}

.square{
  margin-left: 500px;
  margin-right: 500px;
}

.text{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;

}

ul {
  display: inline-block;
  text-align: center;
  margin: 0;
}

li {
  list-style: none;
  margin: 10pt;
  display: inline-block;
  margin-bottom: 0;

}

}














/* html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  min-width: 75%;
} 

.absolute-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background: url("Dark1.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title > h1 {
  color: #fff;
  font-size: 5vw;
  font-family: "futura-pt";
  font-weight: 500;
  font-style: normal;
  text-align: center;
  letter-spacing: 1px;
}

.fog {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #fff;
}

.fog-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.fog-img {
  position: absolute;
  height: 100vh;
  width: 300vw;
  z-index: 2;
}

.fog-img-first {
  background: url("fog-1.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 60s linear infinite;
}

.fog-img-second {
  background: url("fog-2.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}
.button {
    background-color: transparent;
    font-size: 2vw;
    color: #fff;
    border: 2px solid #fff;
    padding: 15px 15px 15px 15px;
    transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    margin-bottom: 1em;  
}

.button:hover{
    background-color: white;
    color: black;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
  }
*/

/* ----------- Social --------------------
.icon-bar {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;

}

.icon-bar a {
display: block;
text-align: center;
padding: 30px;
transition: all 0.3s ease;
color: #fff;
font-size: 2vw;
}

.icon-bar h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "futura-pt";
  font-weight: 500;
  font-style: normal;
  text-align: center;
  letter-spacing: 1px;
  font-size: 2vw;

 }

.icon-bar a:hover {
background-color: white;
color: black;
}

.instagram {
  color: transparent;
}

.google {
color: transparent;
}

.linkedin {
color: transparent;
}

.youtube {
color: transparent;
}


.icon-bar2 {
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.icon-bar2 a {
  display: block;
  text-align: center;
  padding: 30px;
  transition: all 0.3s ease;
  color: #fff;
  font-size: 2vw;
  }

  .icon-bar2 a:hover {
    background-color: white;
    color: black;
    }

 .icon-bar2 h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "futura-pt";
  font-weight: 500;
  font-style: normal;
  text-align: center;
  letter-spacing: 1px;
  font-size: 2vw;

 }
 */
