
body{
        color: #fff;
        background: #111111;
    }

@media only screen and (min-width: 700px) {

.hero{
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.473),rgba(0, 0, 0, 0.473)), url("Dark.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center ;

}

.hero-copy{
    text-align: center;
}

h1{

    margin-top: 0em;
    margin-bottom: 5em;
    font-size: 3vw;
    font-family: "futura-pt";
    font-weight: 500;
    font-style: normal;

}

h2{
    margin-top: 1em;
    font-size: 6vw;
    font-family: "futura-pt";
    font-weight: 500;
    font-style: normal;
}

.button {
    background-color: transparent;
    font-size: 2vw;
    color: #fff;
    border: 2px solid #fff;
    padding: 15px 15px 15px 15px;
    transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
    margin-bottom: 2em;  
}

.button:hover{
    background-color: white;
    color: black;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
  }

}

/*------------ Mobile ------------------ */

@media screen and (max-width: 700px) {
    
    .hero{
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.473),rgba(0, 0, 0, 0.473)), url("Dark.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center ;
    
    }
    
    .hero-copy{
        text-align: center;
    }
    
    h1{
    
        margin-top: 0em;
        margin-bottom: 8em;
        font-size: 3vw;
        font-family: "futura-pt";
        font-weight: 500;
        font-style: normal;
    
    }
    
    h2{
        margin-top: 10em;
        font-size: 6vw;
        font-family: "futura-pt";
        font-weight: 500;
        font-style: normal;
    }
    
    .button {
        background-color: transparent;
        font-size: 2vw;
        color: #fff;
        border: 2px solid #fff;
        padding: 15px 15px 15px 15px;
        transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
        margin-bottom: 1em;  
    }
    
    .button:hover{
        background-color: white;
        color: black;
    }
    
    a, a:visited, a:hover, a:active {
        color: inherit;
        text-decoration: none;
      }
   
  }

  @media screen and (max-width: 499px) and (min-height: 800px) {
    
    .hero{
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.473),rgba(0, 0, 0, 0.473)), url("Dark.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center ;
    
    }
    
    .hero-copy{
        text-align: center;
    }
    
    h1{
    
        margin-top: 20em;
        margin-bottom: 8em;
        font-size: 3vw;
        font-family: "futura-pt";
        font-weight: 500;
        font-style: normal;
    
    }
    
    h2{
        margin-top: 10em;
        font-size: 6vw;
        font-family: "futura-pt";
        font-weight: 500;
        font-style: normal;
    }
    
    .button {
        background-color: transparent;
        font-size: 2vw;
        color: #fff;
        border: 2px solid #fff;
        padding: 15px 15px 15px 15px;
        transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
        margin-bottom: 1em;  
    }
    
    .button:hover{
        background-color: white;
        color: black;
    }
    
    a, a:visited, a:hover, a:active {
        color: inherit;
        text-decoration: none;
      }
   
  }


  /* @media screen and (max-width: 1000px) and (min-height: 800px) {
    
    .hero{
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.473),rgba(0, 0, 0, 0.473)), url("Dark.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center ;
    
    }
    
    .hero-copy{
        text-align: center;
    }
    
    h1{
    
        margin-top: 10em;
        margin-bottom: 8em;
        font-size: 3vw;
        font-family: "futura-pt";
        font-weight: 500;
        font-style: normal;
    
    }
    
    h2{
        margin-top: 10em;
        font-size: 6vw;
        font-family: "futura-pt";
        font-weight: 500;
        font-style: normal;
    }
    
    .button {
        background-color: transparent;
        font-size: 2vw;
        color: #fff;
        border: 2px solid #fff;
        padding: 15px 15px 15px 15px;
        transition: color 170ms ease-in-out, border-color 170ms ease-in-out;
        margin-bottom: 1em;  
    }
    
    .button:hover{
        background-color: white;
        color: black;
    }
    
    a, a:visited, a:hover, a:active {
        color: inherit;
        text-decoration: none;
      }
   
  } */

  
/* ----------- Social -------------------- */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
.icon-bar a {
display: block;
text-align: center;
padding: 30px;
transition: all 0.3s ease;
color: white;
font-size: 20px;
}

.icon-bar a:hover {
background-color: white;
color: black;
}
  

.instagram {
    color: transparent;
  }
  
.google {
color: transparent;
}

.linkedin {
color: transparent;
}

.youtube {
color: transparent;
}
